= div_for(comment) do
  .comments_wrapper.clearfix
    .pull-left
      %p.lead= comment.body
      %p
        %small
          Submitted
          %strong
            = time_ago_in_words(comment.created_at)
            ago
          by #{comment.user.name}
    .btn-group.pull-right
      - if comment.user == current_user
        = link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-default"
