%p#notice= notice

%p
  %b Link:
  = @comment.link_id
%p
  %b Body:
  = @comment.body
%p
  %b User:
  = @comment.user

= link_to 'Edit', edit_comment_path(@comment)
\|
= link_to 'Back', comments_path
