!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Reddit
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - flash.each do |type, message|
      %div{:class => "alert #{bootstrap_class_for(type)} fade in"}
        %button.close{"data-dismiss" => "alert"}
          %i.glyphicon.glyphicon-remove-circle
        %i{:class => "glyphicon glyphicon-#{bootstrap_icon_for(type)}"}
        = message
    - if user_signed_in?
      %ul
        %li= link_to('Links', new_link_path)
        %li= link_to('account', edit_user_registration_path)
        %li= link_to('Logout', destroy_user_session_path, :method => :delete)
    - else
      %ul
        %li= link_to('Sign Up', new_user_registration_path)
        %li= link_to('Sign In', new_user_session_path)
    = yield
